.CenterContent {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.Content {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.Content > div{
  height: 100%;
  width: 100%;
  overflow: auto;
}