.Container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.ItemCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform 0.2s;
}

.ItemCard:hover {
  transform: scale(1.05);
}

.InclusionImage {
  width: 100px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.ItemText {
  margin-top: 2px;
  text-align: center;
}