.Container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  justify-content: center;
}

.InclusionContainer {
  display: flex;
  margin-bottom: 2em;
}

.ImageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.InclusionImage {
  width: 250px;
  height: auto;
  margin-left: 2.5em;
  border-radius: 12px;
}

.InfoContainer {
  flex: 2;
  padding-left: 20px;
}

.InclusionTitle {
  margin-bottom: 20px;
}

.Versions {
  margin-bottom: 12px;
}

.SmallInfoContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0.5em 0;
}

.InfoItem {
  background-color: #d0e4f5;
  padding: 8px;
  border-radius: 4px;
  transition: 0.3s;
}

.InfoItem:hover {
  background-color: #b3cee5;
  cursor: pointer;
}

.FormControl {
  margin-bottom: 20px;
}

.QuantityContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.QuantityText {
  margin: 0 10px;
}

.OwnedQuantity {
  display: flex;
  align-items: center;
  color: green;
  margin: 0.5em 0 !important;
}
