.Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}

.ItemCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f4fd;
  padding: 32px;
  margin: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.ItemCard:hover {
  transform: scale(1.05);
}

.ItemText {
  text-align: center;
  margin-top: 8px;
}

.ItemImage {
  max-height: 125px;
  max-width: 125px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.Section {
  padding: 16px;
  margin: 16px;
}
