.Container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  justify-content: space-between;
}

.AlbumContainer {
  display: flex;
}

.ImageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AlbumImage {
  max-width: 100%;
  height: auto;
}

.InfoContainer {
  flex: 2;
  padding-left: 20px;
}

.AlbumTitle {
  margin-bottom: 20px;
}

.ReleaseDate,
.ArtistName,
.Versions {
  margin-bottom: 12px;
}

.FormControl {
  margin-bottom: 20px;
}

.QuantityContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.QuantityText {
  margin: 0 10px;
}

.Owned {
  display: flex;
  align-items: center;
  color: green;
}

.InclusionsContainer {
  margin-top: 20px;
}

.MemberGroup {
  margin-bottom: 20px;
}

.InclusionsGrid {
  display: flex;
  flex-wrap: wrap;
}

.InclusionContainer {
  display: flex;
  margin: 10px;
  flex-basis: calc(25% - 20px);
}

.InclusionItem {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.InclusionItem img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 5px;
}
