.Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}

.ContainerPosts {
  display: flex;
  flex-direction: column;
}

.ItemCard {
  flex: 1 1 calc(20% - 16px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f1f1;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.AlbumImage {
  height: 150px;
}

.ItemCard:hover {
  transform: scale(1.05);
}

.ItemText {
  text-align: center;
  margin-top: 8px;
}

.Artist {
  text-align: center;
  color: #666;
}

.Section {
  padding: 16px;
  margin: 16px;
}

.MoreButton {
  margin-top: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
