.PostContainer {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-bottom: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 2em !important;
  z-index: -1;
}

.Header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  gap: 0.5em;
}

.UserImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.25em;
}

.UserInfo {
  display: flex;
  align-items: center;
  gap: 0.5em;
  flex-grow: 1;
  transition: 0.3s;
}

.UserInfo:hover {
  .Name {
    text-decoration: underline;
  }
  .Username {
    color: gray;
  }
}

.Name {
  font-weight: bold;
}

.Username {
  color: gray;
}

.Time {
  color: gray;
  margin-left: auto;
}

.Message {
  margin-bottom: 0.5em;
}

.PostImage {
  max-width: 75%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 0.75em;
}

.Tags {
  color: rgb(27, 172, 217);
  margin-bottom: 0.5em;
}

.Actions {
  display: flex;
  justify-content: space-around;
}

.ActionButton {
  display: flex;
  align-items: center;
  gap: 2px;
}

.Repost {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: grey;
  margin-bottom: 0.5em !important;
}

.Tag:hover {
  font-weight: bold;
  cursor: pointer;
}
