.PostIconContainer {
    position: fixed;
    right: 7%;
    bottom: 7%;
    border-radius: 100%;
    border-width: 1px;
    border-style: none;
}

.PostIconContainer:hover {
    position: absolute;
    border-radius: 100%;
    border-color: #B3CEE5;
}

.PostIcon {
    border-style: none;
    width: 2.5em;
    height: 2.5em;
    align-items: center;
    vertical-align: center;
    background-color: #B3CEE5 !important;
    transition: 0.3s;
}

.PostIcon:hover {
    background-color: #D0E4F5 !important;
}