.InscriptionContainer {
  padding: 2em;
  text-align: center;

  Button,
  .InputText {
    margin: 0.5em;
  }
}

.InputFile {
  display: none;
}

.FileInputButton {
  margin-right: 10px;
  margin: 1em !important;
}

.FileIcon {
  margin-left: 1em;
  vertical-align: middle;
}

.CancelIcon {
  cursor: pointer;
  margin-left: 5px;
  vertical-align: middle;
}

.CancelIcon:hover {
  color: #d32f2f;
}